@import "variables";
@import "mixins";

body, html {
    width: 100%;
    height: 100%;
}

/** header **/

.navbar {
    max-height: 20vh;
    min-height: 10vh;
    width: 100%;
    background-color: $mainBackgroundColor;
    border-bottom: solid 1px #c4c4c4;
}

/* logo */
.logo {
    text-decoration: none;
    color: $mainFontColor;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 6%;

    &:hover {
        color: $navbarAndMenuHover;
    }
}

/* main navbar */
.nav-item {
    font-family: $secondFont;
    font-size: 1.1em;
    padding-right: 1.03em;
    display: inline-block;
}

.nav-link {
    font-size: 1.1em;
    color: $mainFontColor !important;
    text-decoration: none;

    &:hover {
        color: $navbarAndMenuHover !important;
    }
}

/* media-navbar */
@media only screen and (max-width: 1320px) {
    #navbarResponsive {
        margin-left: 36em;
    }
}

@media only screen and (max-width: 1250px) {
    #navbarResponsive {
        margin-left: 30em;
    }
}

@media only screen and (max-width: 1160px) {
    #navbarResponsive {
        margin-left: 24em;
    }
}

@media only screen and (max-width: 1100px) {
    #navbarResponsive {
        margin-left: 20em;
    }
}

@media only screen and (max-width: 991px) {
    #navbarResponsive {
        margin-left: 3.5em;
    }
}

@media only screen and (max-width: 800px) {
    #navbarResponsive {
        margin-left: 3em;
        font-size: 1em;
    }
}

@media only screen and (max-width: 660px) {
    #navbarResponsive {
        margin-left: 2.5em;
    }
}
@media only screen and (max-width: 500px) {
    #navbarResponsive {
        margin-left: 1.8em;
        font-size: 0.9em;
    }
}

/** footer **/
#footer {
    height: 25vh;
    background: $mainBackgroundColor;
    border-top: solid 1px #c4c4c4;
}

/* soc networks */
.soc-network {
    font-size: 1.8em;
    display: inline-block;
    list-style: none;
    margin: 0.8em 0.6em;

    a {
        color: $mainFontColor;

        &:hover {
            color: $navbarAndMenuHover;
        }
    }
}

/* media soc-networks */
@media only screen and (max-width: 730px) {
    .soc-network {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 660px) {
    .soc-network {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 590px) {
    .soc-network {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 520px) {
    .soc-network {
        font-size: 1em;
    }
}

@media only screen and (max-width: 450px) {
    .soc-network {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 380px) {
    .soc-network {
        font-size: 0.7em;
    }
}

/* footer-menu */
.footer-menu-block {
   margin: 1.5em 2.4em;
}

#footer-menu {
   h5 {
      font-size: 1.25em;
      margin-bottom: 0.8em;
      color: $mainFontColor;

      a {
        text-decoration: none;
        color: $mainFontColor;

        &:hover {
            color: $navbarAndMenuHover;
        }
      }
   }

   a {
       font-size: 1.06em;
       text-decoration: none;
       color: #6b6b6b;
       &:hover {
          color: black;
        }
   }

   ul {
    margin-left: 0px;
    padding: 0px;
   }

   li {
    list-style: none;
    margin-bottom: 0.4em;
   }

   p {
    font-size: 1.06em;
    color: #6b6b6b;
   }
}

/* button-up */
.button-up {
   display: inline-block;
   text-decoration: none;
   background-color: #c7c7c7;
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 6px;
   position: fixed;
   bottom: 21px;
   left: 21px;
   transition: background-color .3s,
     opacity .5s, visibility .5s;
   opacity: 0;
   visibility: hidden;
   z-index: 1000;

   &:hover {
       cursor: pointer;
       background-color: #333;
   }

   &:active {
    background-color: #555;
   }

   &::after {
       content: "\f077";
       font-family: FontAwesome;
       font-weight: normal;
       font-style: normal;
       font-size: 2em;
       line-height: 50px;
       color: #fff;
   }
}

.show {
   opacity: 1;
   visibility: visible;
}

/* media footer */
@media only screen and (max-width: 620px) {
    #footer-menu {
        h5 {
            font-size: 1em;
            margin-bottom: 0.7em;

            a {
               font-size: 1em;
            }
        }

        a {
           font-size: 0.8em;
        }

        p {
           font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 500px) {
    .footer-menu-block {
        margin: 1.1em 1.4em;
    }
}
@media only screen and (max-width: 450px) {
    .footer-menu-block {
        margin: 0.8em 1.2em;
    }
    #footer-menu {
        h5 {
            font-size: 0.9em;
            margin-bottom: 0.6em;

            a {
                font-size: 0.9em;
            }
        }

        a {
           font-size: 0.7em;
        }

        p {
           font-size: 0.7em;
        }
    }
}


/** index **/
/* main-slider */
#slides {
    padding: 0em;
}

.carousel-inner img {
    border-radius: 0%;
    padding: 0%;
}

.carousel-caption {
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 1px 15px black;
    font-family: $mainFont;

    h2 {
        margin: 0.5em 0;
        color: white;
        font-size: 2.2em;
    }

    button {
        margin: 0.1em 0.1em;

        &:hover {
            background-color: black;
        }
    }

    a {
       text-decoration: none;
       color: white;
       text-shadow: 1px 1px 10px #000;

       &:hover {
        color: white;
       }
    }
}

/* media main-slider */
@media only screen and (max-width: 1000px) {
    .carousel-caption {
        transform: translateY(-48%);

        h2 {
            font-size: 1.5em;
            margin: 0.4em 0;
        }

        button {
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 750px) {
    .carousel-caption {
        transform: translateY(-45%);

        h2 {
            font-size: 1.4em;
            margin: 0.3em 0;
        }

        button {
            font-size: 0.7em;
        }
    }
}

@media only screen and (max-width: 650px) {
    .carousel-caption {
        transform: translateY(-40%);

        h2 {
            font-size: 1.2em;
            margin: 0.2em 0;
        }

        button {
            font-size: 0.5em;
        }
    }
}

@media only screen and (max-width: 550px) {
    .carousel-caption {
        transform: translateY(-35%);

        h2 {
            font-size: 1.0em;
            margin: 0.1em 0;
        }

        button {
            font-size: 0.4em;
        }
    }
}

@media only screen and (max-width: 450px) {
    .carousel-caption {
        h2 {
            font-size: 0.8em;
            margin: 0em 0;
        }

        button {
            font-size: 0.3em;
        }
    }
}

/* about */
#about {
    font-family: $mainFont;
    border-bottom: solid 0.08em #d9d9d9;
    background-color: $secondBackgroundColor;

    h5 {
        font-size: 2em;
        color: $secondFontColor;
    }

    p {
        font-size: 1.4em;
        color: $secondFontColor;
    }

    button {
        font-size: 1.1em;
        border-radius: 0.6em;
        border: solid 0.09em grey;
        margin: 0 1.1em;

        &:hover {
            background-color: black;
            font-color: white;
        }

        a {
            color: $secondFontColor;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }
}


/* media about */
@media only screen and (max-width: 800px) {
    #about {
        h5 {
            font-size: 1.6em;
        }

        h1 {
            font-size: 2.2em;
        }

        p {
           font-size: 1.1em;
        }

        button {
            font-size: 0.9em;
            margin: 0 0.5em;
        }
    }
}

@media only screen and (max-width: 600px) {
    #about {
        h5 {
            font-size: 1.5em;
        }

        h1 {
            font-size: 2em;
        }

        p {
           font-size: 1em;
        }

        button {
            font-size: 0.8em;
            margin: 0 0.4em;
        }
    }
}

@media only screen and (max-width: 500px) {
    #about {
        h5 {
            font-size: 1.3em;
        }

        h1 {
            font-size: 1.8em;
        }

        p {
           font-size: 0.8em;
        }

        button {
            font-size: 0.6em;
        }
    }
}

/** blog **/

#blog {
    background-color: $secondBackgroundColor;

    img {
        margin-left: 0px;
        padding-left: 0px;
    }
}

#blog-text {
    font-family: $mainFont;
    border-bottom: solid 0.08em #d9d9d9;

    &:hover {
        background-color: white;
    }

    p a {
        color: $secondFontColor;
        text-decoration: none;

        &:hover {
           color: black;
        }
    }
}

/* blog list-pages */
.list-pages {
    text-align: center;

    a {
        text-decoration: none;
        color: $mainFontColor;

        &:hover {
            color: $navbarAndMenuHover;
        }
    }
}
.page-num {
    list-style: none;
    font-size: 1em;
    margin: 2em 0.5em;
    display: inline-block;
    height: 3.1em;
    width: 3.1em;
    text-align: center;
    border-radius: 50%;
    border: solid 1px grey;
    line-height: 3.1em;

    p {
        color: $mainFontColor;
    }
}
.page-num-text {
    list-style: none;
    font-size: 1em;
    margin: 2em 0.5em;
    display: inline-block;
    height: 3.1em;
    width: 3.1em;
    text-align: center;
    background-color: #ebebeb;
    border-radius: 50%;
    opacity: 75%;
    border: solid 1px grey;
    line-height: 3.1em;
}

.underline {
    margin: -1em auto;
    color: grey;
}

/* blog details */
#blog-detail {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    p {
        font-size: 1.1em;
        margin: 1em 0;
    }

    subtitle {
        color: $secondFontColor;
    }
}

.post-url {
    color: $mainFontColor;
    text-decoration: none;

    &:hover {
       color: grey;
    }
}

.post-back {
    border: solid 1px grey;
    padding: 0.6em;
    text-decoration: none;
    color: $secondFontColor;
    border-radius: 0.8em;

    &:hover {
        color: black;
    }
}

/* experience */
#experience {
    font-family: $secondFont;

    p {
       font-size: 1.25em;
    }
}

/* media experience */
@media only screen and (max-width: 800px) {
    #experience {
        h1 {
            font-size: 2em;
            margin: 0.3em 0;
        }

        p {
           font-size: 1em;
           margin: 0.1em 0;
        }
    }
}

/** portfolio **/

/* categories and subcategories */

.category-line {
    width: 100%;
    margin: 0 auto;
    color: grey;
    opacity: 30%;
}

.categories-nav-item {
    font-family: $secondFont;
    font-size: 1.1em;
    padding: 0 1.3em;
    display: inline-block;
}

.categories-nav-link {
    font-size: 1em;
    color: $mainFontColor !important;
    text-decoration: none;

    &:hover {
        color: $navbarAndMenuHover !important;
    }
}

#portfolio-photos {
    margin: 1.5em 0;
    padding: 0em;
}

.grid {
    margin: 0 auto;
}

.current a {
    color: $navbarAndMenuHover;
}

/** contacts and price **/

/* my contacts */
#my-contacts {
    h2 {
        text-align: center;
        margin: 1em auto;
    }

    p {
        font-family: $mainFont;
        font-size: 1.4em;
        text-align: center;
        margin: 0.1em 2.4em;
    }

    h3 {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    ul {
        font-size: 1.2em;
        padding: 0em 6em;
        text-align: center;
    }
}


/* media my contacts */
@media only screen and (max-width: 1308px) {
    #my-contacts {
        h2 {
            margin: 0.8em auto;
        }

        p {
           margin: 0em 1em;
        }

        h3 {
            margin: 1.2em auto;
        }

        ul {
            font-size: 0.8em;
            padding: 0em 1em;
        }
    }
}

@media only screen and (max-width: 1180px) {
    #my-contacts {
        h2 {
            font-size: 1.5em;
        }

        p {
           font-size: 1.2em;
        }

        h3 {
            margin-top: 3em;
            font-size: 1.4em;
        }

        ul {
            font-size: 0.6em;
            padding: 0em;
        }
    }
}

@media only screen and (max-width: 990px) {
    #my-contacts {
        h2 {
            margin-top: 0em;
        }

        h3 {
            font-size: 1.1em;
            margin-top: 1.5em;
        }

        ul {
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 800px) {
    #my-contacts {
        h2 {
            font-size: 1.3em;
        }

        p {
           font-size: 1em;
        }
    }
}

@media only screen and (max-width: 760px) {
    #my-contacts {
        h2 {
            font-size: 1.2em;
        }

        p {
           font-size: 0.9em;
        }
    }
}

/* price */
#price {
    padding: 1em 0;
}

#price-info {
    margin: 2em auto;
    width: 80%;
    background-color: $mainBackgroundColor;
    padding: 1em 1em;
    border-radius: 50px;
    padding: 0px;
    box-shadow: 2px 2px 1px #d4d4d4;
    overflow: hidden;

    h4 {
        font-size: 1.5em;
        padding: 0.5em 0;
        color: $navbarAndMenuHover;
    }

    h5 {
        font-size: 1.1em;
    }

    p {
       font-family: $mainFont;
       text-align: justify;
       font-size: 1.1em;
       padding: 0.5em 0.5em;
    }
}

/* media price */

@media only screen and (max-width: 992px) {
    #price h2 {
        font-size: 1.3em;
    }

    #price-image {
        width: 0%;
    }

    #price-info {
        h4 {
            font-size: 1.2em;
            padding: 0.5em 1em;
        }

        h5 {
            font-size: 1em;
            padding: 0 1em;
        }

        p {
           font-size: 1em;
            padding: 0.5em 1em;
        }
    }
}

@media only screen and (max-width: 600px) {
    #price-info {
        h4 {
            font-size: 1.1em;
        }

        h5 {
            font-size: 0.9em;
        }

        p {
           font-size: 0.9em;
        }
    }
}

@media only screen and (max-width: 450px) {
    #price-info {
        border-radius: 0px;

        h4 {
            font-size: 1em;
        }

        h5 {
            font-size: 0.8em;
        }

        p {
           font-size: 0.8em;
        }
    }
}

/** request **/

#request {
    h2 {
        padding-top: 1em;
    }

    form {
        font-family: $mainFont;
        margin-top: 2em;
    }
}

textarea, .contacts {
    width: 35em;
    padding: 0.7em 0.7em;
}

.messages li {
    list-style: none;
    font-size: 1.2em;
    color: $navbarAndMenuHover;
    margin: 1em auto;
}

/* media request */

@media only screen and (max-width: 800px) {
    #request {
        h2 {
            font-size: 1.5em;
        }

        p {
           font-size: 0.8em;
        }
    }

    textarea, .contacts {
        width: 64%;
    }
}

@media only screen and (max-width: 600px) {
    #request {
        h2 {
            font-size: 1.3em;
        }

        p {
           font-size: 0.7em;
        }
    }

    textarea, .contacts {
        width: 80%;
    }
}

/** pd **/

.pd {
    font-size: 1em;
    color: $secondFontColor;
    margin-top: 1em;
    font-family: $secondFont;

    a {
       color: $secondFontColor;

       &:hover {
           color: black;
       }
    }
}

.page-pd {
    width: 70%;
    margin: 0 auto;

    p {
       font-family: $mainFont;
       text-align: justify;
       color: #333333;
    }
}

/* Instagram slider */

#instagram-slider {
    width: 100%;
    height: 55em;
}

#instagram-photos img {
    height: 24em;
    width: 100%;
    margin: 3em 0.5em 0.5em 0.5em;
}

.slider-instagram {
    width: 100%;

    img {
        height: 24em;
        width: 18em;
        margin: 1.4em auto;
    }

    a {
       text-decoration: none;
       color: $mainFontColor;

       &:hover {
           color: #7d0b77;
       }

       i {
        font-size: 0.8em;
       }
    }
}

.inst-slider {
    height: 32em;
    max-width: 74em;
    margin: 0 auto;
}

img {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.img-fluid:hover {
    opacity: 0.8;
    filter: alpha(opacity=60);
}

@media only screen and (max-width: 600px) {
    .slider-instagram h1 {
        font-size: 1.3em;
    }
}

.onTop {
    color: $navbarAndMenuHover !important;
}

/** promo **/

#promo {
    @include promoGift;
}

.promo-title {
    @include promoGiftTitle;
}

.promo-hr {
    @include promoGiftHr;
}

#promo-info {
    @include promoGiftInfo;

    &:hover {
        @include promoGiftInfoHover;
    }
}

/* promo date panel */

#date-panel {
    @include promoGiftPanel;

    h4 {
        @include promoGiftPanelTitle;
    }

    p {
        @include promoGiftPanelDate;
    }
}

/* promo img and text */

#promo-text p {
    @include promoGiftText;
}

/* media promo */

@media only screen and (max-width: 1000px) {
    #date-panel {
        h4 {
            padding-top: 3%;
            padding-left: 0.5%;
            font-size: 1.2em;
        }

        p {
           padding-top: 3%;
           padding-right: 3%;
           font-size: 1em;
        }
    }

    #promo-text p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 900px) {
    #date-panel {
        h4 {
            padding-top: 4%;
            font-size: 1em;
        }

        p {
           padding-top: 4%;
           padding-right: 5%;
           font-size: 0.8em;
        }
    }

    #promo-text p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 750px) {
    .promo-title {
        font-size: 1.3em;
    }
    #date-panel {
        h4 {
            padding-top: 1%;
            font-size: 1em;
        }

        p {
           padding-top: 1%;
           padding-right: 5%;
           font-size: 0.8em;

        }
    }

    #promo-text p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 550px) {
    #date-panel {
        h4 {
            padding-top: 0%;
            font-size: 1em;
        }

        p {
           padding-top: 0%;
           padding-right: 5%;
           font-size: 0.8em;
        }
    }

    #promo-text p {
        font-size: 0.8em;
    }
}

/** gift **/

.gift-title {
    @include promoGiftTitle;
}

.gift-hr {
    @include promoGiftHr;
}

#gift-info {
    @include promoGiftInfo;

    &:hover {
        @include promoGiftInfoHover;
    }
}

/* gift price panel */

#price-panel {
    @include promoGiftPanel($panelColor: #4fc2db);

    h4 {
        @include promoGiftPanelTitle;
    }

    p {
       @include promoGiftPanelDate;
    }
}

/* gift img and text */

#gift-text p {
    @include promoGiftText;
}

/* media gift */

@media only screen and (max-width: 750px) {
    .gift-title {
        font-size: 1.3em;
    }

    #price-panel {
        h4 {
            padding-top: 4%;
            padding-left: 0.5%;
            font-size: 1em;
        }

        p {
           padding-top: 4%;
           padding-right: 3%;
           font-size: 0.8em;
        }
    }

    #gift-text p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {
    #price-panel {
        h4 {
            padding-top: 5%;
            font-size: 0.8em;
        }

        p {
           padding-top: 5%;
           padding-right: 6%;
           font-size: 0.6em;
        }
    }

    #gift-text p {
        font-size: 0.8em;
    }
}
