$navbarAndMenuHover: orange;

$mainBackgroundColor: white;

$secondBackgroundColor: #f0f0f0;

$mainFont: 'Jost', sans-serif;

$secondFont: 'Motserrat' sans-serif;

$mainFontColor: black;

$secondFontColor: grey;