{% extends 'photographer/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-fluid" style="background-color:#f0f0f0">
    <div class="row">
        <div class="col-12">
            <p class="promo-title">{{title}}</p>
            <hr class="promo-hr">
            <div class="page-pd">
            <p>
                Пользователь, оставляя заявку об оказании услуг на сайте, обязуется принять Согласие на обработку персональных данных (далее – Согласие).
                Принятием (акцептом) оферты настоящего Согласия является регистрация Пользователя на Сайте или подача заявки на оказание услуг.
                Пользователь дает свое согласие Манджиеву Очир и его команде (далее – «Оператор персональных данных») на обработку своих персональных данных на указанных ниже условиях:
                <br><br>
                1. Согласие дается на обработку персональных данных как без использования средств автоматизации, так и с их использованием.
                <br><br>
                2. Согласие дается на обработку следующих персональных данных:
                <br>
                • фамилия, имя, отчество;
                <br>
                • пол, возраст, семейный статус;
                <br>
                • номер контактного телефона;
                <br>
                • адрес электронной почты;
                <br>
                • иные данные, указанные добровольно в свободной форме.
                <br><br>
                3. Персональные данные не относятся к общедоступным.
                <br><br>
                4. Целями обработки персональных данных являются:
                <br>
                • выполнение условий договора с пользователем;
                <br>
                • составление коммерческого предложения на основе указанных данных;
                <br>
                • улучшение качества услуг в интересах пользователя, в том числе оперативная обратная связь и уточнение информации по заказу;
                <br>
                • предоставление пользователю информации о событиях и акциях, а также ценах и условиях участия в планируемых мероприятиях.
                <br><br>
                5. Основанием для обработки персональных данных является Ст. 24 Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ «О персональных данных»; иные федеральные законы и нормативно правовые акты.
                <br><br>
                6. В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение.
                <br><br>
                7. Распространение и передача персональных данных третьим лицам не осуществляются.
                <br><br>
                8. Персональные данные обрабатываются и хранятся бессрочно. Хранение персональных данных осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.
                <br><br>
                9. Согласие может быть отозвано Пользователем, путем направления заявления в свободной форме на электронный адрес ochir@mail.ru
                <br><br>
                10. Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанного в п.9 данного Согласия.
              </p>
              <br>
              <p style="text-align:center"><a href="{% url 'contacts' %}" class="post-back">НАЗАД</a></p>
              <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}